extends layout 

block content
     div(class="card p-3 mx-auto mt-5" style="width: 350px;")
          form(method="POST", action="/")
               h1(class="text-center") Create Post
               div(class="form-group")
                    label(for="title") Title:
                    input(type="text", class="form-control" name="title" id="title" placeholder="Post Title")
               div(class="form-group")
                    label(for="author") Author:
                    input(type="text", class="form-control" name="author" id="author" placeholder="Post Author")
               div(class="form-group")
                    label Content
                    textarea(name="body", id="body", class="form-control" cols="30", rows="5")
               button(type="submit", class="btn btn-success mt-2") Publish 